* {
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #000;
	text-decoration: none;
}

button {
	outline: none
}

.w25 {
	width: 25%;
}

.w50 {
	width: 50%;
}

.w75 {
	width: 75%;
}

.w100 {
	width: 100%;
}

img {
	width: 100%;
	height: 100%;
}

.p0 {
	padding: 0 !important;
}

.p10 {
	padding: 10px !important;
}

.mr5{
	margin-right: 5px;
}

.mt10 {
	margin-top: 10px;
}

.ml10{
	margin-left: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.bm1 {
	border-bottom: 1px solid #ccc;
}

.h42 {
	height: 42px;
	line-height: 42px;
}

.flex {
	display: flex;
}

.jb{
	justify-content: space-between;
}

.flex1 {
	flex: 1 !important;
}


.box {
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
}

.pages {
	width: 100vw;
	height: 100vh;
	background-color: #f1f1f1;
	padding-top: 20px;
}


.c6 {
	color: #666;
}

.fz18 {
	font-size: 18px;
}

.fz16 {
	font-size: 16px;
}

.fz14 {
	font-size: 14px;
}

.fb {
	font-weight: bold;
}

.aic {
	align-items: center;
}


.blue {
	color: #4DABF7 !important;
}

.red {
	color: #ff8787 !important;
}





.info {
	width: 90%;
	height: 180px;
	margin: 0 auto;
	border-radius: 10px;
	background: url(../img/backImg2.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	padding: 20px;
}

.shopInfo {
	width: 100%;
	height: 100px;
	display: flex;
	font-size: 24px;
}

.avatar {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin-right: 10px;
}

.cardNum {
	margin-top: 40px;
}

.login {
	display: block;
	width: 60%;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin: 15px auto 0;
	border: 2px solid #fff;
	border-radius: 50px;
}

.login:link,
.login:visited,
.login:hover,
.login:active {
	color: #fff;
}


.tabBox {
	width: 100%;
	height: auto;
	margin-top: 20px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.tabItem {
	width: 25%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tabItem img {
	width: 46px;
	height: 46px;
	margin-bottom: 6px;
}

/* 登陆 */
.loginItem {
	align-items: center;
}

.loginItem img {
	width: 28px;
	height: 28px;
	margin-right: 10px;
}

.loginItem input {
	width: calc(100% - 150px);
	height: 36px;
	line-height: 36px;
	border: 0;
	padding: 0;
	font-size: 18px;
}

.getCode {
	width: 100px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #4dabf7;
	color: #4dabf7;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
}

.loginItem .radio {
	width: 16px;
	margin: 0 16px 0 4px;
}

.btn {
	display: block;
	width: 60%;
	height: 32px;
	line-height: 32px;
	padding: 0;
	margin: 50px auto 0;
	color: #fff;
	background-color: #4DABF7;
	border: 0;
	border-radius: 50px;
	text-align: center;
}


/* 场地预约 */
.body {
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.sitePages {
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.scrollBox {
	width: 100%;
	overflow: auto;
}

.body::-webkit-scrollbar,
.siteAreaBox::-webkit-scrollbar,
.siteBoxs::-webkit-scrollbar,
.scrollBox::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
	display: none;
}

.scroll {
	width: 100%;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	color: #666;
	text-align: center;
	display: -webkit-box;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.scrollItem {
	width: 50%;
	border-right: 1px solid #ccc;
	padding: 6px 0;
}

.scrollItem:last-child {
	border-right: 0;
}

.actItem {
	color: #4DABF7;
}

.siteBoxs {
	height: calc(100vh - 100px);
	overflow-y: auto;
	margin-top: 0.7rem;
	font-size: 0.75rem;
	text-align: center;
	color: #666;
	position: fixed;
	top: 2.5rem;
	left: 0rem;
}

.siteBox {
	width: 100%;
	height: 150vh;
	display: flex;
}

.siteTime {
	width: 4rem;
	height: calc(100vh + 3.25rem);
	padding-top: 2.25rem;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: 120;
}

.siteAreaBox {
	width: calc(100% - 4rem);
	position: relative;
	left: 4rem;
	top: 0;
	z-index: 110;
}

.siteCodeBox {
	width: 36rem;
	position: fixed;
	top: 3rem;
	left: 4rem;
	background-color: #fff;
}

.sitename {
	height: 2rem;
	line-height: 2rem;
}

.siteCode div {
	width: 2.65rem;
}


.siteArea {
	height: calc(100vh + 3rem);
	margin-top: 3rem;
	overflow: hidden;
}



.siteSelBox {
	/* width: 36rem; */
	height: 100vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.siteSel {
	justify-content: space-around;
}

.siteSel div {
	width: 2.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	border-radius: 0.25rem;
	margin: 0 0.25rem;
	border: 1px solid #ccc;
}

.promptitem .close,
.siteSel .close {
	background-color: #ccc;
	color: #ccc;
}


.moneyBox,
.promptitem .sel,
.siteSel .sel {
	background-color: #4DABF7;
	color: #fff;
	border: 0;
}

.bottom {
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background-color: #fff;
}

.bottom .btn {
	width: 100%;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	border-radius: 0;
	background-image: linear-gradient(to right, #24B2F4 0%, #366CB3 100%);
}

.promptitem,
.prompt {
	height: 30px;
	line-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}

.promptitem>text:first-child {
	display: block;
	width: 20px;
	height: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-left: 10px;
}

.selBox {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-size: 10px;
	color: #666;
	text-align: center;
	margin-bottom: 4px;
	padding: 0 10px;
	background-color: #fff;
}

.selItem {
	border: 1px solid #CCC;
	border-radius: 6px;
	overflow: hidden;
	margin: 2px;
}

.selTime {
	background-color: #4DABF7;
	color: #fff;
	padding: 3px 6px;
}

.selSite {
	padding: 3px 6px;
}

/* 我的预约 */


.tabBar {
	width: 100%;
	height: 54px;
	line-height: 54px;
	display: flex;
	justify-content: space-around;
	background-color: #fff;
}

.actBar {
	color: #4DABF7;
	border-bottom: 2px solid #4DABF7;
}

.listItem {
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
}

.listTop {
	height: 32px;
	line-height: 32px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #999;
}

.listTop>div:first-child {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.listDay {
	height: 28px;
	line-height: 28px;
	font-size: 14px;
}

.listTime {
	font-size: 14px;
	color: #666;
}

.btnBox {
	width: 100%;
	height: 32px;
	line-height: 32px;
	display: flex;
	font-size: 14px;
	justify-content: flex-end;
	margin-top: 10px;
}

.btnBox div {
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	color: #fff;
	border-radius: 50px;
	background-color: #69db7c;
	margin-left: 10px;
}

.btnBox .pay {
	background-color: #4DABF7;
}

.nodata {
	width: 100%;
	text-align: center;
	margin-top: 30%;
	color: #666;
	font-size: 14px;
}

.nodata img {
	width: 120px;
}

/* 我的钱包 */

.priceTit {
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
}

.money {
	width: 100%;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 6px;

}

.price text {
	font-size: 16px;
	font-weight: normal;
}

.recording {
	height: 64px;
	display: flex;
	color: #666;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

/* 充值 */
.gold {
	width: 48px;
	height: 48px;
	display: block;
	margin: 30px auto 10px;
}

.money {
	display: block;
	width: 50%;
	height: 36px;
	border: 0;
	border-bottom: 1px solid #ccc;
	outline: none;
	margin: 0 auto 30px;
	text-align: center;
	font-size: 20px;
}

.mBtn {
	height: 46px !important;
	line-height: 46px !important;
	font-size: 18px;
	margin-top: 50%;
}

/* 订单确认 */

.wechat{
	width: 24px;
	height: 24px;
	margin-right: 5px;
}
.moneySbt{
	height: 46px;
	line-height: 46px;
	align-items: center;
	padding: 0 10px 0 5px;
}